@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --first-color: #012f6b;
    --second-color: #6ABDDB;
    --light-blue-color: #daf5ff;
    --shadow-color: #d6d6d6;
    --offwhite-color: #FAF9F6;
    --red-color: #ff1100;
    --rating-color: #ff5e00;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}

p{
    margin-bottom: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    max-width: 2000px;
    margin: auto;
}

.btn {
    background: var(--first-color);
    color: var(--white-color);
}
.btn:hover {
    background: var(--second-color);
    transform: translateY(-5px);
    transition: .5s ease-in-out;
}
.breadcrumb_title {
    color: var(--white-color);
    font-size: 60px;
    font-weight: 600;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .breadcrumb_title {
        font-size: 40px;
    }
}


/* Navbar */
#top_nav {
    background-color: var(--first-color);
    padding: 8px 25px;
}
#top_nav ul li a {
    color: var(--white-color);
}
#top_nav ul li {
    color: var(--white-color);
}
#top_nav ul li a:hover {
    color: var(--second-color);
}
#top_nav ul li {
    display: inline-block;
}
.top_nav_number ul li {
    padding-left: 20px;
}
.top_nav_number ul li:first-child {
    padding-left: 0;
}
.top_nav_social ul li {
    padding-right: 15px;
}
.top_nav_social ul li a {
    font-size: 18px;
}
.top_nav_social ul li:last-child {
    padding-right: 0;
}
#top_nav .btn {
    background-color: var(--second-color);
}

/* Main Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: var(--white-color);
    box-shadow: 0 0 5px var(--black-color);
    z-index: 999;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar_icons_item {
    flex-direction: row;
}
.navbar img {
    height: auto;
    width: 250px;
}
#nav_icons {
    display: none !important;
}
#nav_icons ul li {
    display: inline-block;
    padding-left: 20px;
}
#nav_icons ul li:last-child {
    padding-left: 0;
}
#navbarTogglerDemo01 ul li {
    display: block !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: auto;
}
#services_items img {
    height: auto;
    width: 35px;
}
nav .nav-item {
    padding: 0 5px;
}
nav .nav-link {
    font-weight: 600;
    font-size: 18px;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #top_nav {
        display: none;  
    }
}

/* Home Page */

#home_hero_section {
    margin-top: 100px;
}
#home_hero_section h5 {
    color: var(--red-color);
}
#home_hero_section h1 {
    font-size: 70px;
    font-weight: 600;
    padding: 20px 0;
    color: var(--first-color);
}
#home_hero_section h1 span {
    color: var(--second-color);
}
#home_hero_section .heroSwiper img {
    width: 100%;
    border-radius: 10px;
}
#hero_section_slider {
    position: relative;
}
#hero_review {
    position: absolute;
    z-index: 30;
    top: -50px;
    left: -30px;
}
#hero_trustpilot {
    position: absolute;
    z-index: 30;
    top: 400px;
    right: -80px;
}
.hero_animate {
    animation: moveAnim 5s linear infinite;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #home_hero_section {
        margin-top: 30px;
    }
    #home_hero_section h1 {
        font-size: 50px;
    }
    #hero_review {
        display: none;
    }
    #hero_trustpilot {
        display: none;
    }
    #hero_section_slider {
        margin-top: 30px;
    }
    .hero_btn {
        display: block !important;
    }
    .hero_btn .btn {
        margin: 10px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    #home_hero_section {
        margin-top: 30px;
    }
    #home_hero_section h1 {
        font-size: 60px;
    }
    #hero_section_slider {
        margin-top: 30px;
    }
    #hero_review {
        display: none;
    }
    #hero_trustpilot {
        display: none;
    }
}
@keyframes moveAnim {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-30px); 
    }
    100% {
        transform: translateX(0);
    }
}

.hero_btn_two {
    background: var(--second-color);
    color: var(--black-color);
}
.hero_btn_two:hover {
    background: var(--first-color);
    color: var(--white-color);
}

#home_second_section {
    margin: 60px 0;
}
#home_second_div {
    border: 1px solid var(--first-color);
    padding: 20px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}
#home_second_div img {
    width: 80px;
    visibility: hidden;
}
#home_second_div:hover img {
    visibility: visible;
}
#home_second_div h4 {
    font-weight: 600;
    color: var(--first-color);
}
#home_second_div:hover {
    border: 1px solid var(--red-color);
    transition: .5s ease-in-out;
}
#home_second_div:hover svg {
    color: var(--red-color);
    transition: .5s ease-in-out;
}
#home_second_div:hover h4 {
    text-decoration: underline;
    text-decoration-color: var(--red-color);
    transition: .5s ease-in-out;
}

#home_third_section {
    margin: 60px 0;
    background-color: var(--offwhite-color);
    padding: 60px 0;
}
#home_third_section h5 {
    color: var(--red-color);
}
#home_third_section h3 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
#home_third_experience_div .badge_img {
    width: 300px;
}
#home_third_experience_div ul li {
    margin: 10px 0;
}
#home_third_experience_div ul li i {
    color: var(--red-color);
}
#home_third_image_div img {
    width: 100%;
    border-radius: 10px;
}

#home_agents_section {
    margin: 60px 0;
}
#home_agents_section h5 {
    color: var(--red-color);
}
#home_agents_section h2 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
#home_agents_section ul li {
    margin: 30px 0;
}
#home_agents_section .agent_img {
    width: 100%;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #home_agents_section {
        margin: 30px 0;
    }
    .agent_number_part {
        display: block !important;
    }
    .agent_number_part h5 {
        margin-top: 20px;
    }
    #home_agents_section h2 {
        font-size: 40px;
    }
}

#client_reviews {
    margin: 60px 0;
    padding: 60px 0;
    background-color: var(--offwhite-color);
}
#client_reviews h2 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
#client_reviews h5 {
    color: var(--red-color);
}
.review_div {
    height: 410px;
    overflow-y: scroll;
    border-radius: 5px;
}
.every_client_review_star {
    background: var(--second-color);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}
.every_client_review_star ul li {
    display: inline-block;
}
#client_reviews h4 {
    font-size: 60px;
    font-weight: 600;
}
#client_reviews h4 sub {
    font-size: 20px;
}
#client_reviews .review_star ul li {
    display: inline-block;
    color: var(--rating-color);
}
.client_name {
    font-size: 20px;
    font-weight: 600;
}
#client_reviews img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--rating-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .reviewSwiper {
        margin-top: 20px;
    }
}

#home_blog_section {
    margin: 60px 0;
}
#home_blog_section h5 {
    color: var(--red-color);
}
#home_blog_section h2 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
#home_blog_section .card {
    margin-top: 10px;
}
#home_blog_section h4 {
    color: var(--first-color);
}
#home_blog_section a {
    color: var(--second-color);
}
#home_blog_section a:hover {
    color: var(--first-color);
}
#home_blog_footer {
    background-color: var(--first-color);
    padding: 5px 10px;
    margin-top: 20px;
    color: var(--white-color);
    border-radius: 5px;
}

#client_section {
    background-color: var(--first-color);
    padding: 60px 0;
}
#client_section h2 {
    font-size: 60px;
    font-weight: 600;
}
#client_section img {
    filter: grayscale(1);
}
#client_section img:hover {
    filter: grayscale(0);
}

#home_last_section {
    background-image: url("../image/home-footer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
}
#home_last_section h3 {
    font-size: 50px;
    font-weight: 600;
    color: var(--white-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #home_second_section {
        margin: 30px 0;
    }
    #home_second_div {
        margin-top: 15px;
    }
    #home_third_section {
        margin: 30px 0;
        padding: 30px 0;
    }
    #home_third_section h3 {
        font-size: 40px;
    }
    #home_third_section img {
        margin-top: 10px;
    }
    #home_third_experience_div .badge_img {
        width: 200px;
    }
    #home_blog_section h2 {
        font-size: 40px;
    }
    #client_section h2 {
        font-size: 40px;
    }
    #home_last_section h3 {
        font-size: 40px;
    }
}

#process_section {
    margin: 60px 0;
}
#process_section ul li {
    margin: 20px 0;
}
#process_section h5 {
    color: var(--red-color);
}
#process_section h2 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
#process_section .main_process_img {
    position: relative;
    width: 100%;
}
#process_section .round_anim_img {
    position: absolute;
    z-index: 20;
    height: 170px;
    width: 170px;
    margin-top: -30px;
    margin-left: -30px;
    animation: rounded 8s infinite linear;
}
@keyframes rounded {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #process_section {
        margin: 30px 0;
    }
    #process_section h2 {
        font-size: 40px;
    }
    #process_section .main_process_img {
        margin-top: 100px;
    }
    #process_section .round_anim_img {
        height: 130px;
        width: 130px;
        margin-top: 20px;
        margin-left: 0px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    #process_section .round_anim_img {
        height: 120px;
        width: 120px;
    }
}
/* Home Page */



/* Service */
.service_breadcramb {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/assessment-bg.jpg");
    padding: 80px 0;
}
#service_first_section {
    margin: 60px 0;
}
#service_first_section h2 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
#service_first_section h4 {
    font-weight: 600;
}
#service_first_section img {
    width: 100%;
    border-radius: 10px;
}
#service_second_section {
    background-color: var(--offwhite-color);
    padding: 60px 0;
}
.service_second_divs {
    background-color: var(--white-color);
    box-shadow: 2px 5px 5px var(--shadow-color);
    padding: 20px;
    border-radius: 10px;
}
#service_second_section h3 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
#service_second_section img {
    width: 100px;
    height: 100px;
}

#service_faq {
    margin: 60px 0;
}
#service_faq h2 {
    font-size: 60px;
    font-weight: 600;
    color: var(--first-color);
}
#service_faq img {
    width: 100%;
}

.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

#service_forth_section {
    padding-top: 60px;
    background-image: url("../image/pattern.png");
    background-repeat: repeat;
    background-position: 0 0;
}
#service_forth_section h4 {
    font-weight: 600;
}
#service_forth_section .service_forth_section_middle_img {
    width: 100%;
}
#service_contact_section {
    background-image: url("../image/service_contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}
#service_contact_section h5 {
    color: var(--white-color);
}
#service_contact_section h2 {
    font-size: 50px;
    color: var(--white-color);
}

.service_aboutus_bar {
    margin: 60px 0;
    background-color: var(--first-color);
    padding: 30px;
}
.service_aboutus_bar .btn {
    background-color: var(--offwhite-color);
    color: var(--first-color);
}
#why_hire_section {
    margin: 60px 0;
}
#why_hire_section img {
    width: 100%;
    margin-top: 30px;
}
#why_hire_section h2 {
    font-size: 45px;
    font-weight: 600;
    color: var(--first-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #service_first_section {
        margin: 30px 0;
    }
    #service_first_section h2 {
        font-size: 40px;
    }
    #service_first_section img {
        margin-top: 20px;
    }
    #service_second_section {
        padding: 30px 0;
    }
    #service_second_section h3 {
        font-size: 40px;
    }
    #service_forth_section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #service_faq {
        margin: 30px 0;
    }
    #service_faq h2 {
        font-size: 40px;
    }
    #service_faq img {
        margin-top: 30px;
    }
    #service_forth_section .service_forth_section_middle_img {
        padding: 20px 0;
    }
    #service_contact_section {
        padding: 30px 0;
    }
    #service_contact_section h2 {
        font-size: 35px;
        margin-top: 25px;
    }
    .service_aboutus_bar {
        margin: 30px 0;
    }
    #why_hire_section {
        margin: 30px 0;
    }
}

/* Service */



/* About Us */
.about_breadcramb {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/assessment-bg.jpg");
    padding: 80px 0;
}
#about_section {
    margin: 60px 0;
}
.about_section_first img {
    width: 100%;
    border-radius: 10px;
}
.about_section_first h2 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
.about_section_first h4 {
    font-weight: 600;
    color: var(--first-color);
}
.badge_img {
    animation: badgeAnim linear 4s infinite;
}

.about_section_second {
    margin: 60px 0;
    background-color: var(--offwhite-color);
    padding: 60px 0;
}
.about_section_second h3 {
    font-weight: 600;
    color: var(--first-color);
}
.mis_vis_first_img {
    width: 150px;
    height: 150px;
}
.mis_vis_second_img {
    width: 50px;
    height: 50px;
}
.about_section_second h3 span {
    color: var(--second-color);
}

.about_section_third {
    margin: 60px 0;
}
.about_section_third h2 {
    font-size: 50px;
    font-weight: 600;
    color: var(--first-color);
}
.about_section_third h2 span {
    color: var(--second-color);
}
.about_section_third img {
    width: 100%;
}
.about_section_forth {
    margin: 60px 0;
}
.about_section_forth img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.about_section_forth h4 {
    font-size: 20px;
    padding: 15px 0;
    background-color: var(--first-color);
    color: var(--white-color);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #about_section {
        margin: 30px 0;
    }
    .about_section_first h2 {
        font-size: 40px;
    }
    .about_section_first .badge_img {
        width: 50%;
    }
    .about_section_second {
        margin: 30px 0;
        padding: 30px 0;
    }
    .about_section_third h2 {
        font-size: 40px;
    }
    .about_section_third #about_third_right_side_img {
        width: 50%;
    }
    .about_section_third {
        margin: 30px 0;
    }
    .about_section_forth {
        margin: 30px 0;
    }
}

@keyframes badgeAnim {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}
/* About Us */



/* Blog Page */
.blog_breadcramb {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/assessment-bg.jpg");
    padding: 80px 0;
}
#blog_main_section {
    margin: 60px 0;
}
#sidebar_search_option {
    background-color: var(--light-blue-color);
    padding: 30px;
    border-radius: 10px;
}
#sidebar_socialmedia {
    margin-top: 20px;
    background-color: var(--light-blue-color);
    padding: 30px;
    border-radius: 10px;
}
#sidebar_socialmedia ul li {
    display: inline-block;
    margin-right: 20px;
}
#sidebar_socialmedia ul li:last-child {
    margin-right: 0;
}
#sidebar_socialmedia ul li a {
    font-size: 20px;
    color: var(--first-color);
}
#sidebar_socialmedia ul li a:hover {
    color: var(--second-color);
}
.blog_author {
    padding: 10px;
    margin-top: 15px;
}
.blog_author li {
    display: inline-block;
    margin-left: 20px;
}
.blog_author li:first-child {
    margin-left: 0;
}
#sidebar_recent_post {
    margin-top: 20px;
    background-color: var(--light-blue-color);
    padding: 30px;
    border-radius: 10px;
}
#sidebar_recent_post ul li {
    border-bottom: 1px dashed var(--black-color);
    margin-top: 15px;
}
#sidebar_recent_post ul li img {
    width: 100%;
    border-radius: 5px;
}
#sidebar_recent_post ul li p {
    color: var(--black-color);
}
#main_blog_side #post_date {
    text-align: end;
    margin-top: -55px;
}
#main_blog_side h3 {
    display: inline-block;
    background-color: var(--first-color);
    border-bottom: 4px solid var(--second-color);
    padding: 10px;
    color: var(--white-color);
}
#main_blog_side h3 span {
    font-size: 16px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #blog_main_section {
        margin: 30px 0;
    }
}
/* Blog Page */


/* Blog Single Page */
.single_blog_breadcramb {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/assessment-bg.jpg");
    padding: 80px 0;
}
#single_blog_main_section {
    margin: 60px 0;
}
.signle_blog_footer .single_blog_tags {
    width: 50%;
}
.single_blog_tags ul li {
    display: inline-block;
    margin-right: 10px;
    background-color: var(--shadow-color);
    padding: 4px 10px;
    margin-top: 10px;
    border-radius: 3px;
}
.single_blog_tags ul li:last-child {
    margin-right: 0;
}
.single_blog_social ul li {
    display: inline-block;
    margin-right: 10px;
}
.single_blog_social ul li a {
    color: var(--first-color);
    font-size: 20px;
}
#comment_form {
    background-color: var(--offwhite-color);
    padding: 25px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #single_blog_main_section {
        margin: 30px 0;
    }  
}
/* Blog Single Page */


/* Contact Us */

.contact_breadcramb {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/assessment-bg.jpg");
    padding: 80px 0;
}
#contact_form_section h2 {
    font-size: 60px;
    font-weight: 600;
}
#contact_form_section h2 span {
    color: var(--second-color);
}
#contact_form_section {
    background-image: url("../image/contact-form-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
}

/* Contact Info */
#contact_info_div {
    background-color: var(--first-color);
    border-radius: 10px;
    padding: 20px;
    position: sticky;
    top: 100px;
}
#contact_info_div ul hr {
    color: var(--white-color);
}
#contact_info_div ul li {
    color: var(--white-color);
    padding: 5px 0;
}
#contact_info_div ul li a {
    color: var(--white-color);
}
#contact_info_div ul li a:hover {
    color: var(--second-color);
}
/* Contact Info */


/* Get Consultation */
#consultation_section {
    background-image: url("../image/contact2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
}
#consultation_section h3 {
    font-size: 50px;
    color: var(--white-color);
    font-weight: 600;
}
#consultation_section p {
    color: var(--white-color);
}
/* Get Consultation */


@media only screen and (min-width: 300px) and (max-width: 500px) {
    .contact_breadcramb h1 {
        font-size: 40px;
    }
    #contact_form_section h2 {
        font-size: 40px;
    }
    #contact_info_div {
        margin-bottom: 30px;
    }
    #consultation_section h3 {
        font-size: 40px;
    }
}

/* Contact Us */


/* Assessment */
.assessment_breadcramb {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/assessment-bg.jpg");
    padding: 80px 0;
}
.assessment_breadcramb h1 {
    color: var(--white-color);
    font-size: 60px;
    font-weight: 600;
}
.form_div {
    background-color: var(--offwhite-color);
    border-radius: 20px;
    padding: 30px 0;
    margin: 60px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .assessment_breadcramb h1 {
        font-size: 40px;
    }
    .form_div {
        padding: 10px;
        margin: 20px 0;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    .assessment_breadcramb h1 {
        font-size: 40px;
    }
    .form_div {
        padding: 10px;
        margin: 20px 0;
    }
}
/* Assessment */


/* Footer */

footer {
    padding: 50px 0;
    background-image: url("../image/footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer .footer_logo {
    width: 250px;
    margin-bottom: 10px;
}
footer #footer_about p {
    color: var(--white-color);
}
footer h4 {
    color: var(--white-color);
}
footer #footer_quick_link li {
    padding: 8px 0;
}
footer #footer_quick_link li a {
    color: var(--white-color);
}
footer #footer_quick_link li a:hover {
    color: var(--second-color);
}
footer #footer_service li {
    padding: 8px 0;
}
footer #footer_service li a {
    color: var(--white-color);
}
footer #footer_service li a:hover {
    color: var(--second-color);
}
footer #social_media_icon li {
    display: inline-block;
    padding-left: 20px;
}
footer #social_media_icon li:first-child {
    padding-left: 0;
}
footer #social_media_icon li a {
    color: var(--white-color);
    font-size: 18px;
}
footer #social_media_icon li a:hover {
    color: var(--second-color);
}
footer #footer_contact li {
    color: var(--white-color);
    padding: 5px 0;
}
footer hr {
    color: var(--white-color);
    margin: 25px 0;
}
#copywrite {
    color: var(--white-color);
}
#copywrite a {
    color: var(--white-color);
}
#copywrite a:hover {
    color: var(--second-color);
}
#privacy_items ul li {
    display: inline-block;
    padding: 0px 10px;
}
#privacy_items ul li a {
    color: var(--white-color);
}
#privacy_items ul li a:hover {
    color: var(--second-color);
}
#privacy_items ul li:last-child {
    padding-right: 0;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    footer h4 {
        margin-top: 30px;
    }
    #privacy_items {
        margin-top: 40px;
    }
    #privacy_items ul {
        text-align: center !important;
    }
    #privacy_items ul li:last-child {
        padding-right: 10px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    footer h4 {
        margin-top: 30px;
    }
}


/* Side social Media */
#side_social_media_icon {
    position: fixed;
    top: 150px;
    z-index: 700;
}
#side_social_media_icon li {
    padding: 8px;
    background-color: var(--first-color);
    margin: 5px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 5px var(--second-color);
}
#side_social_media_icon li a {
    color: var(--white-color);
    font-size: 18px;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #side_social_media_icon {
        display: none;
    }
}


/* Go to Top Buttom */

#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 999;
    background-color: var(--first-color);
    animation: topUpAnim linear 3s infinite;
}
#btn-back-to-top i {
    color: var(--white-color);
}

@keyframes topUpAnim {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

#faq_page {
    margin: 60px 0;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #faq_page {
        margin: 30px 0;
    }
}